.button-container {
    display: flex;
    justify-content: space-around;
}
.login-button {
    flex-grow: 1;
    display: inline-block;
    background-color: #008CBA; /* Blue background */
    border: none;  /* Remove borders */
    color: white;  /* White text */
    padding: 15px 32px;  /* Some padding */
    text-align: center;  /* Centered text */
    text-decoration: none;  /* Remove underline */
    font-size: 16px;  /* Set a font size */
    margin: 4px 2px;  /* Some margin */
    cursor: pointer;  /* Mouse pointer on hover */
    font-family: verdana;
}
.login-button:hover {
    background-color: RoyalBlue;
}

* {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 93%;
    width: 100%;
    background: linear-gradient(180deg, #02c1e3, 5%, #119dff, 50%, #030423);
    position: absolute;
}
.wrapper h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: verdana;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #cdc3f8;
    font-size: 80px;
    font-weight: 888;
    text-transform: uppercase;
}


/* Table styling */
.styled-table {
    width: 100%; /* Full width of its container */
    border-collapse: collapse; /* Removes space between borders */
    margin: 25px 0; /* Margin for top and bottom */
    font-size: 0.9em; /* Smaller text size */
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; /* Helps contain the inner elements */
    box-shadow: 0 0 20px rgba(0,0,0,0.15); /* Subtle shadow around table */
}

.styled-table thead tr {
    background-color: #009879; /* A pleasing teal background */
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.styled-table th {
    padding: 12px 15px; /* Adjust these values to reduce space */
    white-space: nowrap; /* Prevents text from wrapping */
    text-align: center; /* Centers the text in headers */
}

.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd; /* Light grey border for each row */
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; /* Thicker teal border for last row */
}

.styled-table tbody tr:hover {
    background-color: #c5c5c5; /* Light grey background on row hover */
}

/* Styling for the row interaction buttons */
.styled-table button {
    background-color: #009879; /* Matching the header */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.styled-table button:hover {
    background-color: #007BFF; /* Blue on hover for interaction */
}

.column-name {
    padding: 10px
}