<link rel="stylesheet" type="text/css" href="../static/css/styles/styles.css">  
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    form {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="number"], input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    .wrapper {
        height: 100%;
    }
</style>

<div class="wrapper">
    <body>
        <form method="POST">
            <label for="category_id">Category ID:</label><br>
            <input type="number" id="category_id" name="category_id"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="item_name">Item Name:</label><br>
            <input type="text" id="item_name" name="item_name"><br>
            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" name="quantity"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</div> 