<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory Page</title>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <nav>
                    <div class="button-container">
                        <a href="{{ url_for('index') }}" class="login-button">Home</a>
                    {% if logged_in %}
                        <a href="{{ url_for('recieptscanner') }}" class="login-button">Reciept Scanner</a>
                        <a href="{{ url_for('logout') }}" class="login-button">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="login-button">Login</a>
                    {% endif %}
                    </div>
                </nav>
                <title>Inventory Page</title>
                <link rel="stylesheet" type="text/css" href="../static/css/styles/styles.css">
            </head>
            <body>
                <header>
                    <div class="button-container">
                        <button onclick="location.href='/add-item'" class="login-button">Add Item</button>
                    </div>
                </header>
                <main>
                    <div class="wrapper">
                        
                    </div>
                    <div class="button-container">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th class="column-name">Item ID</th>
                                    <th class="column-name">Item Description</th>
                                    <th class="column-name">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="tb-row">
                                    <td>{{ item.item_id }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <button onclick="location.href='/increase-quantity/{{ item.item_id }}'">Increase</button>
                                        <button onclick="location.href='/decrease-quantity/{{ item.item_id }}'">Decrease</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>

            </body>
</html>

