<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Page</title>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
            <nav>
                <div class="button-container">
                    <a href="{{ url_for('index') }}" class="login-button">Home</a>
                    {% if logged_in %}
                        <a href="{{ url_for('inventory') }}" class="login-button">Inventory</a>
                        <a href="{{ url_for('logout') }}" class="login-button">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="login-button">Login</a>
                    {% endif %}
                </div>
            </nav>
        <title>Reciept Page</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles/styles.css">   
    </head>

    <body>
        <style>
            .wrapper {
                text-align: center;
            }
        </style>
        <header>
            <div class="wrapper">
                <h1>Reciept Scanner Coming Soon!</h1>
            </div>
        </header>
    </body>
</html>

